<header>
    <nav class="navbar navbar-expand-lg navbar-light " style="background-color: darkorchid;">
        <a class="navbar-brand text-light" href="/admin" style="font-family: serif;">
            <h3><b>Admin Panel</b></h3>
        </a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
            aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>

        <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav mr-auto ml-5">
                <li class="nav-item active">
                    <a class="nav-link text-light" style="font-size: larger;" href="/admin">All Products<span
                            class="sr-only">(current)</span></a>
                </li>
                <li class="nav-item ml-3">
                    <a class="nav-link text-light" style="font-size: larger;" href="admin/all-orders">All Orders</a>
                </li>



            </ul>
            <div class="dropdown">
                {{#if adminLogged}}
                <button class="btn btn-success dropdown-toggle mr-5" type="button" id="dropdownMenuButton"
                    data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">

                    {{adminName.Name}}

                </button>
                {{/if}}
                <div class="dropdown-menu" style="background-color: rgb(216, 201, 245)"
                    aria-labelledby="dropdownMenuButton">

                    {{#if adminLogged}}
                    <a class="dropdown-item" href="/admin/logout"><b>Logout</b></a>
                    {{/if}}

                    </a>

                </div>
            </div>
           

        </div>
    </nav>
</header>