<section>
    <div class="container mt-5">
        <div class="row d-flex justify-content-center">
            <h1>Order Placed Successfully...</h1>
        </div><br>
        <div class="d-flex justify-content-center">
            <a href="/orders"><button class="btn text-light" style="background-color: darkorchid;">View
                    Orders</button></a>
        </div>
    </div>
</section>