<section>
    <div class="container">
        <div class="row mt-5">
            {{#each products}}

            <div class="col-lg-3 p-3">
                <div class="card bg-color" style="width: 15rem; height: auto;">
                    <img class="card-img-top" src="/product-images/{{this.product._id}}.jpg" alt="Card image cap"
                        style="height: 12rem;">
                    <div class="card-body">

                        <h5 class="card-title"><i>{{this.product.Name}}</i></h5>
                        <p class="card-text"><b>Price: {{this.product.Price}}/-</b></p>
                        <p class="card-text"><b>Quantity:{{this.quantity}}</b></p>

                    </div>
                </div>
            </div>

            {{/each}}
        </div>
    </div>
</section>
<style>
    .bg-color {
        border: 1px solid;
        border-color: darkorchid;
    }
</style>